
<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title"> Edit Categories </h2>
            
        </div>
        <div>
            <input type="text" placeholder="Search Categories" class="form-control bg-white">
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <form id="cat-form" action="/admin/category/edit-category/<%=data?._id-%>" method="post" enctype="multipart/form-data">
                        <div class="mb-4">
                            <label for="product_name" class="form-label">Category Name</label>
                            <input type="text" id="category" name="productCategory" value="<%=data?.productCategory -%>" placeholder="Type here" class="form-control" id="category-name" />
                        </div>


                        <div class="mb-4">
                            <label for="product_name" class="form-label">Image</label>

                            <input type="file" value="<%=data?.images -%>" name="images" placeholder="Type here" class="form-control" id="product_name" multiple/>
                        </div>


                        <div class="mb-4">
                            <label class="form-label">Description</label>
                            <textarea id="description" type="text" placeholder="Type here"  name="categoryDescription" class="form-control"><%=data?.categoryDescription -%></textarea>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Edit category</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-9">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                   
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>images</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">
                                       1
                                    </td>
                                    <td><%=data.productCategory -%></td>
                                    <td><%=data.categoryDescription -%></td>
                                    <td><img src="/images/uploads/<%=data.images[0]-%>" width="30" style="position: absolute;" alt=""></td>
                                </tr>
                              
                            </tbody>
                        </table>
                    </div>
                </div> 
            </div> 
        </div> 
    </div> 
</section> 





<script src="/javascript/categoryValidation.js"></script>