<main class="main-wrap" style="margin-left: -20px;">

    
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Sales Report</h2>
                
            </div>

        </div>
        <div class="card mb-4">
            
            <form id="form" action="/admin/sales-report" method="get" enctype="application/x-www-form-urlencoded">
            <header class="card-header">
                <div class="row align-items-center">
                    <div class="col col-check flex-grow-0">
                       
                    </div>
                    <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">

                    </div>



                    <div class="col-md-2 col-6">
                        <label for="">From</label>
                        <input type="date" id="fromDate" name="from" value="<%= from %>" class="form-control">
                    </div>

                    <div class="col-md-2 col-6">
                        <label for="">To</label>
                        <input type="date" name="to" id="toDate" value="<%= to %>" class="form-control">
                    </div>

                    <div class="col-md-2 col-6">
                        <button id="date-filter" style="padding: 5px;color: white;background-color: blue;">Generate Sales Report</button>
                    </div>
                    <div class="col-md-2 col-6">
                        <a href="/admin/reports/sales/download/excel?from=<%= from %>&to=<%= to %>"><span class="fw-semibold">Download Excel</span></a>
                        &nbsp;&nbsp; <a href="/admin/reports/sales/download/pdf?from=<%= from %>&to=<%= to %>"><span class="fw-semibold">Download PDF</span></a>
                    </div>
                </div>
            </header> 
            </form>

            <div class="card-body">
                <article class="itemlist">
                    <div class="row align-items-center">
                        <div class="col col-check flex-grow-0">
                     
                        </div>
                        <div class="col-lg-4 col-sm-4 col-8 flex-grow-1 col-name">
                            <a class="itemside" href="#">
                             
                                <div class="info">
                                    <h6 class="mb-0">Order ID</h6>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 col-sm-2 col-4 col-price"> <span>Billing Name</span> </div>
                        <div class="col-lg-2 col-sm-2 col-4 col-status">
                            <span class="badge rounded-pill alert-success">Date</span>
                        </div>
                        <div class="col-lg-1 col-sm-2 col-4 col-date">
                            <span>Total</span>
                        </div>
                        <div class="col-lg-1 col-sm-2 col-4 col-date">
                            <span>Payment Method</span>
                        </div><div class="col-lg-1 col-sm-2 col-4 col-date">
                            <span></span>
                        </div>

                        
                    </div> 
                </article> 

                <% orders?.forEach((order,index)=>{ %>
                
                <article class="itemlist">
                    <div class="row align-items-center">
                        <div class="col col-check flex-grow-0">
    
                        </div>
                        <div class="col-lg-4 col-sm-4 col-8 flex-grow-1 col-name">
                            <a class="itemside" href="#">
                     
                                <div class="info">
                                    <h6 class="mb-0"><%=order?._doc._id %></h6>
                                </div>
                            </a>
                        </div> 
                        <div class="col-lg-2 col-sm-2 col-4 col-price"> <span><%=order?._doc?.user?.username %></span> </div>
                        <div class="col-lg-2 col-sm-2 col-4 col-status">
                            <span class=""><%=order?.createdAt %></span>
                        </div>
                        <div class="col-lg-1 col-sm-2 col-4 col-date">
                            <span><%=order?._doc.totalAmount %></span>
                        </div>
                        <div class="col-lg-1 col-sm-2 col-4 col-date">
                            <span><%=order?._doc.paymentMode %></span>
                        </div><div class="col-lg-1 col-sm-2 col-4 col-date">
                            <span><a href="/admin/order-products/<%=order._id%>">View Details</a></span>
                        </div>

          
                        
                    </div> 
                </article> 

                <%   })  %>
               
            </div>
        </div> 
        <div class="pagination-area mt-30 mb-50">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">

                    <%for(var i=0;i<NO_OF_BUTTONS;i++){ %>
                    
                    <li class="page-item active"><a class="page-link" href="/admin/sales-report?<%=i %>"><%=i+1 %></a></li>
                    
                    <% } %>
                </ul>
            </nav>
        </div>
    </section>
    <footer class="main-footer font-xs">
        <div class="row pb-30 pt-15">
            <div class="col-sm-6">
                <script>
                document.write(new Date().getFullYear())
                </script> 
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end">
                   
                </div>
            </div>
        </div>
    </footer>
</main>


<script>

  const currentDate = new Date().toISOString().split('T')[0]; // Get the current date in YYYY-MM-DD format
  document.getElementById('fromDate').setAttribute('max', currentDate);
  document.getElementById('toDate').setAttribute('max', currentDate);


    
</script>