<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Edit Offers</h2>
           
        </div>

    </div>
    <div class="card mb-4">

        <div class="card-body">
            <article class="itemlist">
                <div class="row align-items-center">

                    <div class="col-lg-2 col-sm-2 col-8  col-name">
                        <a class="itemside" href="#">

                            <div class="info">
                                <h4 class="mb-0">Offer Name</h4>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-2 col-sm-2 col-4 col-price"> <h4>Offer Discount</h4> </div>

                    <div class="col-lg-2 col-sm-2 col-4 col-status">
                        <h4>Offer Type</h4>
                    </div>

                    <div class="col-lg-2 col-sm-2 col-4 col-status">
                        <h4>Discount Type</h4>
                    </div>
                    <div class="col-lg-2 col-sm-2 col-4 col-status">
                        <h4>Expiry</h4>
                    </div>

                </div> 
            </article> 
        
            <% offers.forEach((offer,index)=>{ %>

           
             <article id="table-body" data-id="" class="itemlist">
                <div  class="row align-items-center">

                    <div class="col-lg-2 col-sm-2 col-8 flex-grow-1 col-name">
                        <a class="itemside" href="#">

                            <div class="info">
                               <a href="/admin/view-offer-products/<%=offer._id%>?offertype=<%=offer.offerType %>">
                               <p><%=offer?.offertitle %></p> </a>
                                
                            </div>
                        </a>
                    </div>
                    
                    <div class="col-lg-2 col-sm-2 col-8 flex-grow-1 col-name">
                        <a class="itemside" href="#">

                            <div class="info">
                                <p><%=offer?.discountAmount %></p>
                                
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-2 col-sm-2 col-4 col-price"><%=offer?.offerType %></div>

                    <div class="col-lg-2 col-sm-2 col-4 col-status">
                        <%=offer?.discountType %>
                    </div>

                    <div class="col-lg-2 col-sm-2 col-4 col-action text-end">
                     <p><%=offer?.expirationDate %></p>
                    </div>
                    <div class="col-lg-2 col-sm-2 col-4 col-action text-end">
                        <a href="/admin/edit-offer/<%=offer?._id %>" data-id="<%=offer?._id %>" class="btn btn-sm font-sm rounded btn-brand">
                            <i class="material-icons md-edit"></i> Edit
                        </a>
                        <input type="text" value="" name="" id="catId" hidden>
                        <a href="/admin/delete-offer/<%=offer?._id %>" id="delete" data-id="<%=offer?._id %>" class="btn btn-sm font-sm btn-light rounded">
                            <i class="material-icons md-delete_forever"></i> Delete
                        </a>
                    </div>
                </div> 
            </article>
            
            <% }) %>
          
        </div> 
    </div>
    <div class="pagination-area mt-30 mb-50">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
                <li class="page-item active"><a class="page-link" href="#">01</a></li>
                <li class="page-item"><a class="page-link" href="#">02</a></li>
                <li class="page-item"><a class="page-link" href="#">03</a></li>
                <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="#">16</a></li>
                <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
            </ul>
        </nav>
    </div>
</section>
