




<div style="display: flex; height: fit-content;">


  <%-include('../partials/userSideBar.ejs') %>
  
  <div style="width: 100%;margin-top: 100px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"> 
    <section class="content-main"style=" height: fit-content;">
        <form
          id="address-form"
          action="/add-address"
          method="post"
          enctype="application/x-www-form-urlencoded">
         
          <div class="row" >
            <div class="col-9" style="background-color: white;">
              <div class="content-header" style="background-color: white;">
                <h2 class="content-title" >Add Your Address</h2>

              </div>
            </div>
            
            <div class="col-lg-6" >
              <div class="card mb-4" style="background-color: rgb(82, 79, 79);box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <div class="card-header">
                  <h4>Basic</h4>
                </div>
                <div class="card-body" style="color: white;">
                  <div class="mb-4">
                    <label for="product_name" class="form-label" style="font-size: larger;">City</label>
                    <p id="cityerr" style="color: red;display: none;">invalid city</p>
                    <input
                      type="text"
                      name="city"
                      placeholder="Type here"
                      class="form-control input"
                      id="city" />
                  </div>
                  <div class="mb-4">
                    <label class="form-label" style="font-size: larger;" >Address</label>
                    <p id="addresserr" style="color: red;display: none;">invalid Address</p>

                    <textarea
                    id="address"
                    type="text"
                      name="address"
                      placeholder="Type here"
                      class="form-control input"
                      rows="4"></textarea>
                  </div>

                  <div class="mb-4">
                    <label for="product_name" class="form-label" style="font-size: larger;">state</label>
                    <p id="staterr" style="color: red;display: none;">invalid state</p>

                    <input
                      type="text"
                      name="state"
                      placeholder="Type here"
                      class="form-control input"
                      id="state" />
                  </div>
                  <div class="mb-4">
                    <label for="product_name" class="form-label" style="font-size: larger;">Phone Number</label>
                    <p id="mobileErr" style="color: red;display: none;">Inavalid Mobile Number</p>
                    <input
                      type="number"
                      name="mobileNumber"
                      placeholder="Type here"
                      class="form-control input"
                      id="mobileNumber" />
                  </div>

                  <div class="row">
                    <div class="col-lg-4">
                      <div class="mb-4">
                        <label  class="form-label" style="font-size: larger;">Pincode</label>
                        <p id="pincodeErr" style="color: red;display: none;">Inavalid Pin Number</p>
                        <div class="row gx-2">
                          <input
                            placeholder="$"
                            id="pincode"
                            name="pincode"
                            type="number"
                            class="form-control input" />
                        </div>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            
            </div>


          </div>
          <button id="submit" type="submit" style="margin-left: 270px;width: 260px;height: 40px; color: white;background-color: black;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">ADD</button>

        </form>
      </section>
     
     <% if(addresses?.address.length!=0 && addresses){ %>

      
      <section style="position: absolute; top: 17%;left:1300px;overflow: scroll;max-height: 500px;">
        <h1>My Addresses</h1>
        <div style=" width: 600px;height: 250px;margin-top: 20px;height: fit-content;">
          <div class="address-list" style="height: fit-content;">
      
            <% addresses.address.forEach((address,index)=>{ %>

          
            <div class="address" style="margin: 10px;padding: 20px;background-color:rgb(82, 79, 79);box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);color: white;">
                <input type="radio" id="address1" name="address" value="123 Main St, City, Country" <% if(address?.isSelected){ %>
                 checked
               <% } %> >
                <div for="address1" >
                  <p><%=address.address -%></p>
                  <p><%=address.city -%></p>
                  <p><%=address.state -%></p>
                  <p><%=address.mobileNumber -%></p>
                  <p><%=address.pincode -%></p>
                  <button id="delete-address" data-id="<%=index -%>" style="margin-right: 15px;background-color: red;border: none;">DELETE</button>
                 <button style="background-color: blue;"><a id="edit-address" href="/edit-address/<%=index -%>"  data-id="<%=index %>" style="background-color: blue;border: none;width: 59px;color: white;">EDIT</a></button> 
                </div>
            </div>

            <% }) %>
            
        
        

    
        </div>
    
        <button id="selectedAddressButton" style="margin-left: 220px;background-color: black; padding: 10px;color: white;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-top: 50px;">Select Address</button>
        </div>


      </section>
    <% } %>
</div>

<div></div>
</div>


<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/modernizr.custom.js"></script>
<script src="/js/addOrViewAddress.js"></script>

