<style>
  #couponModal {
  position: absolute;
  background-color: white;
  width: 20%;
  height: 30%;
  display: none;
  z-index: 5;
  left: 850px;
  overflow: scroll;
}

#close {
  background-color: red;
  color: white;
  margin: 5px;
}

#coupon {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

#select-btn {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.coupon-details {
  margin-top: 10px;
}

.label {
  font-weight: bold;
  margin-right: 10px;
}

</style>


<div id="couponModal" style="position: fixed;top: 25%; background-color: rgb(209, 253, 248); width: 20%; height: 30%; display: none; z-index: 5; left: 850px; overflow: scroll;">
  <h1 style="text-align: center; margin-top: 10px; color: black;">Coupons</h1>
  <button id="close" style="background-color: red; color: white; margin: 5px;">Close</button>
  <% coupons.forEach((coupon, index) => { %>
    <% console.log(coupon,index) %>
    <% console.log('coupon index') %>
    <div id="coupon" class="coupon-container" style="background-color: rgb(4, 3, 3);">
      <button id="select-btn" class="add-button">Add</button>
      <input id="couponId" value="<%= coupon?._id %>" hidden/>
      <div class="coupon-details">
        
        <span id="coupon-code" class="coupon-details" style="font-size: larger;font-weight: bold;color: white;"><%= coupon.code %></span>
      </div>
      <div class="coupon-details">
       
        <span id="description" class="coupon-details" style="font-size: large;color: white;"><%= coupon.description %></span>
      </div>
      <div class="coupon-details">
        
        Discount Amount:<span id="discountAmount" class="coupon-details" style="color: white;"><%= coupon.discountAmount %></span>
      </div>
      <div class="coupon-details">
       
        Minimum Amount in Cart:<span id="minimumAmount" class="coupon-details" style="color: white;"><%= coupon.minimumAmount %></span>
      </div>

      <div class="coupon-details">
        <span class="coupon-details" style="color: white;"><%= coupon?.discountType %> </span>discount

      </div>
      <input id="discountType" value="<%=coupon?.discountType%>"  type="text" hidden>
      <div>
        <span  id="expirationDate" style="display: none;"><%=coupon?.expirationDate %></span>
      </div>
    </div>
  <% }) %>
</div>


  <% if(!cart){ %>
    <% window.href="/home"%>
  <% }%>


<div class="ads-grid_shop">

  
  <div class="shop_inner_inf">
    <div class="privacy about">
      <h3>Chec<span>kout</span></h3>

      <div class="checkout-right">

        <table class="timetable_sub">
          <thead>
            <tr>
              <th>SL No.</th>
              <th>Product</th>
              <th>Quantity</th>
              <th>Product Name</th>

              <th>Price</th>
              
              
            </tr>
          </thead>
          <tbody>
            <% cart?.products.forEach((product,index)=>{ %>
            
            <tr class="rem1">
              <td class="invert"><%=index+1 -%></td>
              <td class="invert-image">
                <a href="single.html"
                  ><img
                    src="/images/uploads/<%=product?.product?.images[0] -%>"
                    alt=" "
                    class="img-responsive"
                    style="width: 50px"
                /></a>
              </td>
              <td class="invert">
                <div class="quantity">
                  <div class="quantity-select">       
                    <div class="" id="qty"><span><%=product?.quantity %></span></div>
                    <p id="insufficent-stock" data-id="<%=product?.product._id %>" style="color: red;display: none;">Insufficent Stock</p>
                  </div>
                </div>
              </td>
              <td class="invert"><%=product?.product?.productname -%></td>

              <%if(product?.product?.offerPrice===0){ %>
                <td class="invert"><%=product?.product?.price -%></td>
              <% }else{ %>
                <td class="invert"><%=product?.product?.offerPrice -%></td>

              <% } %>

            </tr>
            <% })%>
          </tbody>
        </table>
      </div>
      <div class="checkout-left">
        <div class="col-md-4 checkout-left-basket">
          <a href="/get-cart"><h4 >Continue to basket</h4></a>
          <ul id="checkout-list">
            <% cart?.products.forEach((product,index)=>{ %>
            <li style="color: black; font-size: larger;" style="color: black;font-weight: bold;">
              Product<%=index+1 %> <i>-</i>
              
              <%if(product?.product?.offerPrice===0){ %>
                <span style="color: black;font-weight: bold;">₹<%=product?.product?.price -%> </span>
              <% }else{ %>
                <span style="color: black;font-weight: bold;">₹<%=product?.product?.offerPrice -%> </span>
              <% } %>
              
            </li>
            <% })%>
            <li style="color: black; font-weight: bold;">Discount : <i>-</i> <span id="discount-coupon">0</span></li>

            <li style="color: black; font-weight: bold;">
              Total <i>-</i>
              
                <span id="total-amount" style=" font-weight: bold;">
                  <% 
                  var total = cart?.products.map((product) => { 
                    if (product?.product?.offerPrice === 0) {
                      return product.product.price * product.quantity;
                    } else {
                      return product.product.offerPrice * product.quantity;
                    }
                  }).reduce(function (total, acc) { 
                    return Number(total) + Number(acc); 
                  }, 0); 
                  %>
                  
                  <%= total %>

                </span> 
              
                


            </li>
            <li id="price-after-coupon-el" style="color:black; font-weight: bold;">
              Price After Coupon  <span id="priceAfterCoupon"><%=total %></span>
            </li>
          </ul>
        </div>
        <div
          class="col-md-6 address_form"
          style=" display: flex;background-color: aliceblue; margin-bottom: 30px;">
          
          <% if(address?.length!=0 && address){ %>

         
          <div style="background-color: aliceblue; width: 50%;padding: 20px;">
            <div>
            <h2 style="text-align: left">Address</h2>
            <h4>
              Address <span style="color: black"> : </span><%=address[0]?.address
              -%>
            </h4>
            <h4>
              city <span style="color: black"> : </span> <%=address[0]?.city-%>
            </h4>
            <h4>
              state <span style="color: black"> : </span> <%=address[0]?.state-%>
            </h4>
            <h4>
              Mobile Number
              <span style="color: black"> : </span><%=address[0]?.mobileNumber-%>
            </h4>
            <h4>
              Pincode
              <span style="color: black"> : </span> <%=address[0]?.pincode -%>
            </h4>
            <a href="/user-dashboard"
              ><button
                style="
                  color: black;
                 background-color: white;
                  padding: 5px;
                  width: 200px;
                  border: none;
                  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
                  transition: background-color 0.3s ease, transform 0.3s ease;
                  background-color: #2980b9;
                  transform: scale(1.05);
                  color: white;">
                Change Address
              </button></a
            >
            </div>
          </div>
          <% }else{ %>
            <a href="/user-dashboard" style="margin: 100px;border: 1px solid black;margin-top: 250px;color: blue;">Add Address</a>
            <% } %>

          <div style="margin-left: 20px; margin-top: 175px;background-color: aliceblue;" class="placeorder">
            <p id="paymentErr" style="color: red;display: none;">select any payment Method</p>
            <div>
              <input class="placeorder" id="payment" type="radio" value="COD" name="payment" />
              <label for="" style="color: black;">COD</label>
            </div>
            <div>
              <input class="placeorder" id="payment" type="radio" value="ONLINE" name="payment" />
              <label for="" style="color: black;">Online Payment</label>
            </div>
           
            <button   id="place-order" class="submit check_out placeorder" style="margin-bottom: 20px;">
              Place Order
            </button>
            
            
            <div id="add-coupon"  style="color: red;cursor: pointer;margin-bottom: 20px;font-weight: bold;">Apply Coupon?</div>

          </div>
      

        </div>




        <div class="clearfix"></div>

        <div class="clearfix"></div>
      </div>
    </div>
  </div>
    
       
          <div class="ads-grid_shop" style="max-width: 50%;margin-left: 500px;">
            <div class="shop_inner_inf">
                <div class="privacy about">
                    <h3>Pay<span>ment</span></h3>
                
                    <div class="responsive_tabs" style="border: 1px solid gainsboro;">
                        <div id="horizontalTab" style="border: 1px solid gainsboro;">
                            <ul class="resp-tabs-list" >
                                <li>Pay Using Wallet</li>
                           
                            </ul>
                            <div class="resp-tabs-container" >
                           

                                <div class="tab1" style="display: flex;">
                                  <p id="wallet-err" style="color: red;display: none;">Insufficent Balance</p>
                                  <div>
                                  <label for="wallet-balance" style="font-weight: bold;">Wallet Balance</label>
                                  <span>₹ <h1 id="payment" data-id="<%=wallet?.amount%>" class="wallet-balance"><%=wallet?.amount.toFixed(2) %></h1></span>
                                </div>
                                
                                <div>
                                  <button id="wallet-btn" style="background-color: black;color: white;padding: 10px; font: bold;">Pay Using Wallet</button>
                                </div>
                                    
                                  </div>
                              </div>

                            </div>
                        </div>
                    </div>
                   
                </div>
        
            </div>
        
        
            <div class="clearfix"></div>
        </div>
  
  <div class="mid_slider_w3lsagile">
    <div class="col-md-3 mid_slider_text">
      <h5>Some More Shoes</h5>
    </div>
    <div class="col-md-9 mid_slider_info">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
    
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class=""></li>
          <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="2" class=""></li>
          <li data-target="#myCarousel" data-slide-to="3" class=""></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item">
            <div class="row">
              <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                <div class="thumbnail">
                  <img
                    src="images/g1.jpg"
                    alt="Image"
                    style="max-width: 100%" />
                </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                <div class="thumbnail">
                  <img
                    src="images/g2.jpg"
                    alt="Image"
                    style="max-width: 100%" />
                </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                <div class="thumbnail">
                  <img
                    src="images/g3.jpg"
                    alt="Image"
                    style="max-width: 100%" />
                </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                <div class="thumbnail">
                  <img
                    src="images/g4.jpg"
                    alt="Image"
                    style="max-width: 100%" />
                </div>
              </div>
            </div>
          </div>
          <div class="item active">
            <div class="row">
              <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                <div class="thumbnail">
                  <img
                    src="images/g5.jpg"
                    alt="Image"
                    style="max-width: 100%" />
                </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                <div class="thumbnail">
                  <img
                    src="images/g6.jpg"
                    alt="Image"
                    style="max-width: 100%" />
                </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                <div class="thumbnail">
                  <img
                    src="images/g2.jpg"
                    alt="Image"
                    style="max-width: 100%" />
                </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                <div class="thumbnail">
                  <img
                    src="images/g1.jpg"
                    alt="Image"
                    style="max-width: 100%" />
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                <div class="thumbnail">
                  <img
                    src="images/g1.jpg"
                    alt="Image"
                    style="max-width: 100%" />
                </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                <div class="thumbnail">
                  <img
                    src="images/g2.jpg"
                    alt="Image"
                    style="max-width: 100%" />
                </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                <div class="thumbnail">
                  <img
                    src="images/g3.jpg"
                    alt="Image"
                    style="max-width: 100%" />
                </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                <div class="thumbnail">
                  <img
                    src="images/g4.jpg"
                    alt="Image"
                    style="max-width: 100%" />
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                <div class="thumbnail">
                  <img
                    src="images/g1.jpg"
                    alt="Image"
                    style="max-width: 100%" />
                </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                <div class="thumbnail">
                  <img
                    src="images/g2.jpg"
                    alt="Image"
                    style="max-width: 100%" />
                </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                <div class="thumbnail">
                  <img
                    src="images/g3.jpg"
                    alt="Image"
                    style="max-width: 100%" />
                </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                <div class="thumbnail">
                  <img
                    src="images/g4.jpg"
                    alt="Image"
                    style="max-width: 100%" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <a
          class="left carousel-control"
          href="#myCarousel"
          role="button"
          data-slide="prev">
          <span class="fa fa-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="right carousel-control"
          href="#myCarousel"
          role="button"
          data-slide="next">
          <span class="fa fa-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      
      </div>
    </div>

    <div class="clearfix"></div>
  </div>
 
  <div class="newsletter_w3layouts_agile">
    <div class="col-sm-6 newsleft">
      <h3>Sign up for Newsletter !</h3>
    </div>
    <div class="col-sm-6 newsright">
      <form action="#" method="post">
        <input
          type="email"
          placeholder="Enter your email..."
          name="email"
          required="" />
        <input type="submit" value="Submit" />
      </form>
    </div>

    <div class="clearfix"></div>
  </div>
 
</div>

<script>
  const paymentMethods = document.querySelectorAll("#payment");
  const placeOrderBtn = document.querySelector("#place-order");
  const totalAmountInput = document.querySelector("#total-amount");
  const placeorder=document.querySelectorAll('.placeorder');
  const confirmOrderBtn=document.querySelector('.confirmorder');
  const addCoupon=document.querySelector('#add-coupon');
  const totalAmount = Number(totalAmountInput.textContent);
  const modalBg=document.querySelector('#modalbg')
  const couponModal=document.querySelector('#couponModal')
  const couponDetails=document.querySelectorAll('#coupon')
  const closeBtn=document.querySelector('#close')
  const priceAfterCouponEl=document.querySelector('#price-after-coupon-el');
  const priceAfterCoupon=document.querySelector('#priceAfterCoupon')
  const qty=document.querySelector('#qty');
  const insufficentQtyErr=document.querySelectorAll('#insufficent-stock')
  const paymentErr=document.querySelector('#paymentErr')
  const walletBtn=document.querySelector('#wallet-btn')
  const walletBalanceEl=document.querySelector('.wallet-balance')
  const walletErr=document.querySelector('#wallet-err');
  const discountCoupon=document.querySelector('#discount-coupon');

  walletBalance=walletBalanceEl.getAttribute('data-id')
  let paymentMode;
  let couponData

  let totalAmountAfterCoupon=priceAfterCoupon.textContent
 
  paymentMethods.forEach((paymentMethod, index) => {
    paymentMethod.addEventListener("change", function () {
      if(this.checked) paymentErr.style.display="none"
      if (this.checked && paymentMethod.value === "COD") {
        paymentMode = "COD";
      } else if(this.checked && paymentMethod.value==="ONLINE") {
        paymentMode = "ONLINE";
      }
    });
  });



  walletBtn.addEventListener('click',function (event) {
    paymentMode='WALLET'
    console.log(walletBalance,priceAfterCoupon.textContent)
    if(Number(walletBalance)<Number(priceAfterCoupon.textContent)){
        walletErr.style.display="block"
        event.preventDefault()
    }else{
      placeOrder()
    }
    
    
   
  })

  placeOrderBtn.addEventListener("click", function (event) {
    if(!paymentMode){
      paymentErr.style.display='block'
      event.preventDefault()
    }
    placeOrder()
  });

  function placeOrder () {
    fetch("/place-order", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ totalAmountAfterCoupon, paymentMode,couponId:couponData?.couponId,discountAmount:couponData?.discountAmount }),
    })
      .then((response) => {
        //
        console.log(response)
        return response.json()
      })
      .then((data) => {
        if(data?.errors){
          let productId=data?.errors[0]?.productId
        insufficentQtyErr.forEach((element,index)=>{
          const dataId=element.getAttribute('data-id')
          console.log(dataId,productId)
          if(dataId===productId){
            qty.style.display='none';
            element.style.display="block"
          }

         
        })
        }else{
          if(data?.success){
             window.location=data.url
          }else{
          localStorage.removeItem('coupon')
          window.location.href='/order-page'
          }

        }

      })
      .catch((error) => console.log(error));
  }




  addCoupon.addEventListener('click',function () {
    modalBg.style.display="block"
    couponModal.style.display="block"
  })

couponDetails.forEach((item,index)=>{
const couponCode=item.querySelector('#coupon-code');
const discountAmount=item.querySelector('#discountAmount');
const minimumAmount=item.querySelector('#minimumAmount');
const expiryDate=item.querySelector('#expirationDate');
const discountType=item.querySelector('#discountType')
const selectBtn=item.querySelector('#select-btn');
const couponId=item.querySelector('#couponId')


couponData=JSON.parse(localStorage?.getItem('coupon'))

if(couponData?.couponcode===couponCode?.textContent){
  console.log(couponData?.discountType )
  let priceAfterCpn;
  

   if(couponData?.discountType==="Fixed")priceAfterCpn=totalAmount-couponData?.discountAmount
   else priceAfterCpn=(Number(couponData?.discountAmount)/100)*totalAmount;
  priceAfterCoupon.textContent=priceAfterCpn
  totalAmountAfterCoupon=priceAfterCoupon.textContent
  
  selectBtn.textContent="cancel";
    selectBtn.style.backgroundColor="red"
}



selectBtn.addEventListener('click',function () {


  couponData=JSON.parse(localStorage.getItem('coupon'))
  if(couponData?.couponcode===couponCode.textContent && selectBtn.textContent==="cancel"){
    localStorage.removeItem('coupon')
    totalAmountAfterCoupon=priceAfterCoupon.textContent;
    selectBtn.textContent="Add" 
    selectBtn.style.backgroundColor="black"

  }else if(!couponData?.couponcode){
    let couponObj={
    couponcode:couponCode.textContent,
    discountAmount:discountAmount.textContent,
    expiryDate:expiryDate.textContent,
    minimumAmount:minimumAmount.textContent,
    discountType:discountType?.value,
    couponId:couponId.value
  }
  if(Number(minimumAmount.textContent>totalAmount)){
    return alert('minimum Amount in Your cart should be '+minimumAmount.textContent)
  }

    localStorage.setItem('coupon',JSON.stringify(couponObj));
    totalAmountAfterCoupon=priceAfterCoupon.textContent;
    selectBtn.textContent="cancel";
    selectBtn.style.backgroundColor="red"
  }



  
})
})

closeBtn.addEventListener('click', function () {
  discountAmount=JSON.parse(localStorage.getItem('coupon'))?.discountAmount
  if(discountAmount) discountCoupon.textContent=discountAmount;
  else discountCoupon.textContent=0;

  modalBg.style.display="none"
  couponModal.style.display="none"
  location.reload(true)

})

discountAmount=JSON.parse(localStorage.getItem('coupon'))?.discountAmount;
 if(discountAmount) discountCoupon.textContent=discountAmount;
 else discountCoupon.textContent=0;
 
</script>
