<style>
  #pdf {
  text-align: center;
}

#pdf canvas {
  border: 1px solid black;
  width: 95%;
}
</style>




<div id="modalbgo" style="border: 2px solid red; position: absolute;width: 100vw;z-index: 5;background-color: black;opacity:0.2 ;display: none;height: 100%;">

</div>

<div id="delete-modalo" style="background-color: white;opacity: 1; width: 800px;height: 400px;margin-top: 250px;margin-left: 650px;position: fixed;z-index: 6;display: none;">
  <h2 style="text-align: center;margin-top: 50px;">Do You Want to Cancel Order?</h2>
  <span style="display: flex;justify-content: center;gap: 15px;margin-top: 100px;">
    <button id="deletebtno" style="width: 100px;height: 40px;background-color: red;color: white;">Cancel</button>
    <button id="cancelbtno" style="width: 100px;height: 40px;background-color: blue;color: white;">Exit</button>
  </span>
</div>

<div id="modalBgDeleteProd" style="border: 2px solid red; position: absolute;width: 100vw;z-index: 5;background-color: black;opacity:0.2 ;display: none;height: 100%;">

</div>

<div id="cancel-product-modal" style="background-color: white;opacity: 1; width: 800px;height: 400px;margin-top: 200px;margin-left: 650px;position: fixed;z-index: 6;display: none;">
  <h2 style="text-align: center;margin-top: 50px;">Do You Want to Cancel the Product?</h2>
  <span style="display: flex;justify-content: center;gap: 15px;margin-top: 100px;">
    <button id="cancelBtnProduct" style="width: 100px;height: 40px;background-color: red;color: white;">Cancel</button>
    <button id="exitBtnProduct" style="width: 100px;height: 40px;background-color: blue;color: white;">Exit</button>
  </span>
</div>


<div class="ads-grid_shop">
    <div class="shop_inner_inf">
      <div class="privacy about">
        <h3>Order<span>Details</span></h3>
  
        <div class="checkout-right" style="margin-bottom: 50px;">
          <table class="timetable_sub">
            <thead>
            
              
                
              <tr>
                <th>SL No.</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Product Name</th>
  
                <th>Price</th>
                <%if(orders.orderStatus!=="Cancelled"){%>
                <th>Remove</th>
                <%}%>
               
              </tr>
           
            </thead>
            <tbody>
            <% orders.items.forEach((item,index)=>{ %>
               <input value="<%=orders.user %>" name="userId" id="userId" type="text" hidden>
                <input type="text" value="<%=orders._id -%>" name="" id="orderId" hidden>
                <input type="text" value="<%=item._id -%>" name="" id="productId" hidden>

              <tr class="rem1">
                <td class="invert"><h3><%=index+1 -%></h3></td>
                <td class="invert-image">
                  <a href=""
                    ><img
                      src="/images/uploads/<%=item.productId.images[0] %>"
                      alt=""
                      class="img-responsive"
                      style="width: 250px"
                  /></a>
                </td>
             

                <td class="invert">
									<div class="quantity">
										<div class="quantity-select">
											
											<div class=""><span id="value" style="font-size: x-large;font-weight: 600;"><%=item.quantity %></span></div>
										</div>
									</div>
								</td>

                <td class="invert"><h3><%=item.productId.productname %></h3></td>
                <% console.log(item.productId) %>
                <% if(item?.productId?.offerPrice){ %>
                  <td class="invert"><h3>₹ <%=item.productId.offerPrice %></h3></td> 
              <%  }else{ %>
                <td class="invert"><h3>₹ <%=item.productId.price %></h3></td>

              <% } %>
              <%if(item.status!=="Cancelled"){%>
                <td class="invert">
                  <div class="rem">
                  </div>

                  
                 
                  <button id="product-cancel" data-id="<%=item?.productId._id %>" style="background-color: red;color: white;">Cancel</button> 
                  
                </td>
                <%}%>
              </tr>
            <% }) %>

 

            
            </tbody>
          </table>

          
  <div id="pdf"></div>
          <a  id="invoice" style="display: none;">Download Invoice</a>
        </div>

        <div class="checkout-right" style="margin-bottom: 50px;">
          <table class="timetable_sub">
            <thead>
            
              
                
              <tr style="font-size: larger;">
                <th style="background-color: antiquewhite;color: black !important;font-size: x-large;">Address</th>
                <th style="background-color: antiquewhite;color: black !important;font-size: x-large;">Discount Amount</th>
                <th style="background-color: antiquewhite;color: black !important;font-size: x-large;">Total</th>
                <th style="background-color: antiquewhite;color: black !important;font-size: x-large;">Status</th>
                <th style="background-color: antiquewhite;color: black !important;font-size: x-large;">Payment Mode</th>
                <th style="background-color: antiquewhite;color: black !important;font-size: x-large;">Ordered Date</th>
               
              </tr>
           
            </thead>
            <tbody>

               <input  name="userId" id="userId" type="text" hidden>

              <tr class="rem1">
                <td class="invert" style="display: flex;flex-direction: column;align-items: start;">
                  <p style="font-weight: bold;font-size: large;"><%=orders?.address[0]?.address%></p>
                  <p style="font-weight: bold;font-size: large;"><%=orders?.address[0]?.city%></p>
                  <p style="font-weight: bold;font-size: large;"><%=orders?.address[0]?.state%></p>
                  <p style="font-weight: bold;font-size: large;"><%=orders?.address[0]?.pincode%></p>
                  <p style="font-weight: bold;font-size: large;"><%=orders?.address[0]?.mobileNumber%></p>
                </td>
                <td class="invert-image">
                 <p style="color: black;font-weight: bold;font-size: large;"><%=orders?.discountAmount %></p> 
                </td>
             

                <td class="invert">
                  <p style="font-weight: bold;font-size: large;"><%=orders?.totalAmount %></p>
								</td>

                <td class="invert">
                  <p style="font-weight: bold;font-size: large;"><%=orders?.orderStatus %></p>
								</td>

                <td class="invert">
                  <p style="font-weight: bold;font-size: large;"><%=orders?.paymentMode %></p>
								</td>
                <td class="invert">
                  <p style="font-weight: bold;font-size: large;"><%=formattedDate %></p>
								</td>

              </tr>
     

 

            
            </tbody>
          </table>

          
  <div id="pdf" ></div>
  <%if(orders.orderStatus!=="Cancelled"){%>
          <a href="/download-invoice" id="invoice" style="margin-right: 40px;height: 60px;padding: 0 30px;">Download Invoice</a>
          <button id="cancel-btn" style="margin-top: 40px;background-color: red;color:white; width: 200px;height: 60px;">Cancel Order</button>
          <%}%>
        </div>

      </div>
    </div>
    
    <div class="newsletter_w3layouts_agile">
      <div class="col-sm-6 newsleft">
        <h3>Sign up for Newsletter !</h3>
      </div>
      <div class="col-sm-6 newsright">
        <form action="#" method="post">
          <input
            type="email"
            placeholder="Enter your email..."
            name="email"
            required="" />
          <input type="submit" value="Submit" />
        </form>
      </div>
  
      <div class="clearfix"></div>
    </div>
   
  </div>





  <script src="/javascript/orderDetails.js"></script>
  <script src="https://unpkg.com/pdfjs-dist/build/pdf.min.js"></script>
<script src="https://unpkg.com/pdfjs-dist/build/pdf.worker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/easyinvoice/2.3.6/easyinvoice.min.js"></script>


<script>
  const downlaodInvoice=document.querySelector('#invoice')
  downlaodInvoice.addEventListener('click', function () {
    var data = {};
    easyinvoice.createInvoice(data, function (result) {
    easyinvoice.download('myInvoice.pdf', result.pdf);
    
});
  })
</script>

<script src="https://unpkg.com/pdfjs-dist/build/pdf.min.js"></script>
<script src="https://unpkg.com/pdfjs-dist/build/pdf.worker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/easyinvoice/2.3.6/easyinvoice.min.js"></script>
